.activities {
    margin: 0;
    padding: 0;
}

.MainDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 99vw;
    flex-wrap: wrap;
    border-top: 1px solid white;
    user-select: none;
    font-size: calc(2px + 1.7vmin);
    color: white;
    margin-top: 10px;
    overflow-y: scroll;
}

.Cards {
    border: 2px solid white;
    width: calc(30% - 20px);
    height: 15em;
    margin: 10px;
    border-radius: 1%;
    box-shadow: 3px 3px 3px 1px rgb(57, 57, 57);
    background-color: #282c34;
    text-align: left;
    padding: 20px;
    color: white;
}

.activity {
    overflow-y: scroll;
}