.createForm {
    color: white;
    background-color: rgb(109, 106, 106);
    padding: 10px 0 10px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    margin-bottom: calc(5px + 0.7vh);
}

.formInputs {
    margin-left: 20px;
    background-color: rgb(180, 171, 171);
    border-radius: 5%;
}

.submitButton {
    background-color: #282c34;
    color: rgb(150, 142, 142);
    margin-left: 15px;
}

.submitButton:hover {
    background-color:rgb(150, 142, 142);
    color: black
}