/* good to use this for global styling */
.app{
    background-color: rgb(27, 31, 31);
    height: 100%;
    width: 100%;
    font-family: roboto;
}
html, body {
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar {
    border-radius: 10%;
}

body::-webkit-scrollbar-track-piece {
    background: rgb(53, 52, 52);
    border-radius: 5%;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 9%;
}